@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

header {
  text-align: center;
  margin-bottom: 3em;
}

header .loader {
  -webkit-animation: spin 1s  linear forwards;
          animation: spin 1s  linear forwards;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #09f;
  border-top-color: #09f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
}

header .loader:before {
  -webkit-animation: spin 2s  linear;
          animation: spin 2s  linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #3cf;
  border-top-color: #3cf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: “”;
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}

header .loader:after {
  -webkit-animation: spin 3s  linear;
          animation: spin 3s  linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #6ff;
  border-top-color: #6ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: “”;
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

header .logo {
  padding: 1.5em 0 0.8em 0;
}

main {
  padding: 2em 1.8em;
  background-color: #f6f6f6;
}

h2 {
  width: 3em;
  padding-bottom: 1em;
}

.location {
  background-color: #eaeaea;
  padding: 1rem 0 1rem 0;
  -webkit-box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.location span {
  font-weight: 400;
  margin-left: 1rem;
}

.menu__booking {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__booking h1 {
  padding: 1.7em 0 1.7em 0;
}

.menu__booking p {
  width: 98%;
  font-weight: 300;
}

.menu__booking button {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 1em;
  border-radius: 25px;
  border: none;
  margin: 2em 0 4em 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.menu__booking button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 0 4px 8px 0 black;
          box-shadow: 0 4px 8px 0 black;
}

.filter h2 {
  margin: 2em 0 1em 1em;
  text-align: left;
  padding-bottom: 0.5em;
  width: 100%;
}

.filter__cards {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  background-color: #f6f6f6;
  margin: 0 1em 1.5em 1em;
  text-align: left;
  height: 4.5em;
  padding-top: 1.7em;
  font-weight: 500;
  width: 92%;
}

.filter__cards:hover {
  background-color: #f2eafb;
}

.filter__cards:hover .filter__icon {
  color: #9356DC;
}

.filter .filter__number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter .filter__icon {
  margin: 0 1em 0 2em;
  color: gray;
}

.restaurtant__cards {
  border-radius: 15px;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.restaurtant__cards .restaurtant__img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 13.2em;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurtant__cards .restaurtant__cards__text {
  padding: 1em;
}

.restaurtant__cards .restaurtant__cards__text h3 {
  padding-bottom: 5px;
  width: 101%;
}

.restaurtant__cards .restaurtant__cards__text .heart_filled {
  opacity: 0%;
  margin-bottom: -35%;
  float: right;
  padding-right: 15px;
  font-size: x-large;
  -webkit-transform: translate(38px, -20px);
          transform: translate(38px, -20px);
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background: text;
  -webkit-text-fill-color: transparent;
}

.restaurtant__cards .restaurtant__cards__text .heart_filled:hover {
  opacity: 100%;
}

.restaurtant__cards .restaurtant__cards__text .heart {
  float: right;
  padding-right: 15px;
  font-size: x-large;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

footer {
  background-color: #4d4d4d;
  color: white;
  padding-left: 2em;
}

footer .logo {
  -webkit-filter: invert(1);
          filter: invert(1);
  padding: 1.5em 0 0.8em 0;
  height: 3.5em;
}

footer .utenstils {
  margin-right: 1em;
}

footer .hands {
  margin-right: 0.5em;
}

footer ul {
  list-style-type: none;
}

footer li {
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  html {
    background-color: #f6f6f6;
  }
  main {
    padding: 0em 0em 0em 1em;
  }
  header h2 {
    padding-bottom: 0;
    width: unset;
  }
  .info_header_wrapper {
    height: 19em;
  }
  .location {
    float: none;
    padding: 0em 4em 2em 2em;
    background-color: #f6f6f6;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu__booking {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 22em;
    float: left;
    padding-left: 4em;
    margin-top: 0.3em;
  }
  .menu__booking h1 {
    padding: 0;
  }
  .menu__booking p {
    margin-left: 3em;
    padding-left: -9em;
    width: 10em;
  }
  .filter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 20em;
    float: right;
    padding-right: 2em;
    width: 21em;
  }
  .filter__cards {
    width: 100%;
  }
  .filter h2 {
    margin: 2em 0 1em 3em;
  }
  .restaurtant_wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurtant__cards {
    width: 44%;
    margin: 1em;
    margin-left: 1.3em;
  }
  footer {
    height: 7em;
    padding-left: 0;
  }
  footer .logo {
    width: 100%;
  }
  footer .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 0;
  }
  header {
    margin-bottom: 0;
  }
  header .logo {
    padding: 1.5em 0 0em 10em;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .location {
    float: right;
    padding: 2em 4em 2em 2em;
    background-color: #f6f6f6;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .restaurtant_wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .heart {
    padding-top: 1em;
  }
  .heart_filled {
    padding-top: 1em;
  }
  .menu__booking {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 11em;
    width: 100%;
    float: none;
    font-size: x-large;
    padding-left: 0;
  }
  .menu__booking p {
    padding-top: 1em;
    margin-left: 0em;
    width: 100%;
  }
  .menu__booking button {
    font-size: large;
  }
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    float: none;
    height: 11em;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    width: 100%;
    padding-right: 0;
  }
  .filter__cards {
    font-size: larger;
  }
  .filter h2 {
    margin: 0.5em 0 1em 1em;
    width: 30%;
  }
  #restaurtant-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: xx-large;
  }
  .info_header_wrapper {
    padding: 2em 0em 1em 0em;
    height: unset;
  }
}
/*# sourceMappingURL=main.css.map */