* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

header {
  text-align: center;
  margin-bottom: 5em;
}

header .logo {
  padding: 1.5em 0 0.8em 0;
}

.location {
  background-color: #eaeaea;
  padding: 1rem 0 1rem 0;
  -webkit-box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.location span {
  font-weight: 400;
  margin-left: 1rem;
}

.menu__booking {
  background-color: #f6f6f6;
}

.menu__booking h1 {
  padding: 1.7em 0 1.7em 0;
}

.menu__booking p {
  width: 83%;
  margin-left: 30px;
  font-weight: 300;
}

.menu__booking button {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 1em;
  border-radius: 25px;
  border: none;
  margin: 2em 0 4em 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.filter h2 {
  margin: 2em 0 1em 1em;
  text-align: left;
  padding-bottom: 0.5em;
}

.filter__cards {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  background-color: #f6f6f6;
  margin: 0 1em 1.5em 1em;
  text-align: left;
  height: 4.5em;
  padding-top: 1.7em;
  font-weight: 500;
}

.filter__cards:hover {
  background-color: #f2eafb;
}

.filter__cards:hover .filter__icon {
  color: #9356DC;
}

.filter .filter__number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: -10px;
}

.filter .filter__icon {
  margin: 0 1em;
  color: gray;
}

main {
  padding: 4em 1.8em;
  background-color: #f6f6f6;
}

h2 {
  padding-bottom: 1em;
}

.restaurtant__cards {
  border-radius: 15px;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.restaurtant__cards .restaurtant__img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.restaurtant__cards .restaurtant__img .restaurtant__img__plate {
  width: 50%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.restaurtant__cards .restaurtant__cards__text {
  padding: 1em;
}

.restaurtant__cards .restaurtant__cards__text h3 {
  padding-bottom: 5px;
}

.restaurtant__cards .restaurtant__cards__text .heart_filled {
  opacity: 0%;
  float: right;
  padding-right: 15px;
  font-size: x-large;
  -webkit-transform: translate(38px, -20px);
          transform: translate(38px, -20px);
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background: text;
  -webkit-text-fill-color: transparent;
}

.restaurtant__cards .restaurtant__cards__text .heart_filled:hover {
  opacity: 100%;
}

.restaurtant__cards .restaurtant__cards__text .heart {
  float: right;
  padding-right: 15px;
  font-size: x-large;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

footer {
  background-color: #4d4d4d;
  color: white;
  padding-left: 2em;
}

footer .logo {
  -webkit-filter: invert(1);
          filter: invert(1);
  padding: 1.5em 0 0.8em 0;
  height: 3.5em;
}

footer .utenstils {
  margin-right: 1em;
}

footer .hands {
  margin-right: 0.5em;
}

footer ul {
  list-style-type: none;
}

footer li {
  line-height: 1.8;
}
/*# sourceMappingURL=main.css.map */