@import "utilities";
@import "config";

body {
    background-color: $location_color;
}

header {

    text-align: center;

    .loader {
        animation:spin 1s  linear forwards;
        border:solid 2vmin transparent;
        border-radius:50%;
        border-right-color:#09f;
        border-top-color:#09f;
        box-sizing:border-box;
        height:20vmin;
        left:calc(50% - 10vmin);
        position:fixed;
        top:calc(50% - 10vmin);
        width:20vmin;
        z-index:1;
        &:before {
          animation:spin 2s  linear;
          border:solid 2vmin transparent;
          border-radius:50%;
          border-right-color:#3cf;
          border-top-color:#3cf;
          box-sizing:border-box;
          content:“”;
          height:16vmin;
          left:0;
          position:absolute;
          top:0;
          width:16vmin;
        }

        &:after {
          animation:spin 3s  linear;
          border:solid 2vmin transparent;
          border-radius:50%;
          border-right-color:#6ff;
          border-top-color:#6ff;
          box-sizing:border-box;
          content:“”;
          height:12vmin;
          left:2vmin;
          position:absolute;
          top:2vmin;
          width:12vmin;
        }
      }

      @keyframes spin {
        100% {
          transform:rotate(360deg);
          opacity: 0;
        }
      }

    .logo {
        padding-top: 1em;
        transform: scale(.8);
    }

    .header_img {
        display: flex;
        width: 100%;
    }

    .header_img-plate {
        display: flex;
        width: 100%;
        height: 15.6em;
        object-fit: cover;
    }

    .arrow {
        transform: translate(-30px, -15px);
        font-size: x-large;
    }
}

main {

    background-color: $location_color;
    padding: 10px 10px 10px 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    transform: translateY(-50px);

    h2 {
        font-size: 1em;
        font-weight: 300;
        padding-bottom: 3px;
    }
    
    hr {
        width: 12%;
        margin-bottom: 12px;
        color: $tertiary_color
    }

    .heart {
        font-size: 1.3em;
        float: right;
        transform: translate(-20px, -42px);
    }

    .heart_filled {
        font-size: 1.3em;
        opacity: 0%;
        float: right;
        transform: translate(0, -42px);
        background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
        background: linear-gradient(to top, $primary_color 0%,$secondary_color 100%);
        background-clip: text;
         -webkit-background-clip: text;
         -moz-background-clip: text;
        background: text;
        -webkit-text-fill-color:transparent;
            &:hover {
                opacity: 100%;
            }
    }

    .menu-dishes {
        display: flex;
        border-radius: 1em;
        text-align: left; 
        margin-bottom: 30px;
        @include shadow_effect;
        padding-left: 1em;
        background-color: $background_color;
        overflow: hidden;
        height: 70px;
        animation: slideup 4s;

        @keyframes slideup {
            from {
                margin-top: 10%;
                opacity: 0;
            }
            to {
                margin-top: 0;
            }
        }

        &:hover{
            
            cursor: pointer;

            .description {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; 

                .menu-item-text {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .slider {
                display: flex;
                justify-content: center;
                align-items: center;
                animation: slideleft 1s normal linear forwards;

                        @keyframes slideleft {
                            from {
                                margin-right: -35%;
                            }

                            to {
                                margin-right: 0%;
                            }
                        }
                    }

        .checkmark {
            animation: rotate 1.1s normal linear forwards;
            }

            @keyframes rotate {
                0% {
                    transform: rotate(360deg);
                }
            }

    }

        h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1em;
            font-weight: 400;
            padding-bottom: 5px;
        }
    }

    .menu-item-text {
        font-weight: 200;
        font-size: .9em;
        width: 100%;
    }

    .price {
        width: 30%;
        padding: 7% 0 0 0;
    }
    

    .menu-items {
        transform: translateY(20px);
    }

    .slider {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $tertiary-color;
        animation: slideright 0.8s normal linear forwards;

        @keyframes slideright {
            from {
              margin-right: 0;
            }
            to {
              margin-right: -35%;
            }
          }
    }

    .checkmark{
        color: white;
        font-size: 220%;
    }

    .description{
        width: 100%;
        height: 50px;
        padding: 10px 0 15px 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

h1 {
    font-family: 'Shrikhand';
    font-size: 1.5em;
    display: block;
    padding-left: 5px;
    height: 4em;
    border: 1px solid $location_color;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    transform: translateY(-23px);
    padding-top: 1em;
    background-color: $location_color;
}

button {
    color: white;
    @include button_color;
    padding: 1em;
    border-radius: 25px;
    border: none;
    margin: -1em 0 8em 0;
    @include shadow_effect;
    width: 50%;
    transform: translateX(50%);
    
    &:hover{
        @include button_color--light;
        @include dark_shadow_effect;
    }
}

footer {
    background-color:lighten($color: black, $amount: 20%);
    color: white;
    padding-left: 2em;
    margin-top: -3em;

    .logo{
        filter: invert(1);
        padding: 1.5em 0 0.8em 0;
        height: 3.5em;
    }

    .utenstils {
        margin-right: 1em;
    }

    .hands {
        margin-right: 0.5em;
    }

    ul {
        list-style-type: none;
    }

    li {
        line-height: 1.8;
    }
}

    @media screen and (min-width: 768px) { 

        main {
            padding-top: 0;

            .heart {
                font-size: 2.3em;
                transform: translate(13em, -44px);
            }
            
            .heart_filled {
                font-size: 2.3em;
                transform: translate(12em, -44px);
            }
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        header {
            .header_img {
                width: 50%;
                transform: translateX(50%);
            }

            .header_img-plate {
                width: 50%;
                height: 20em;
                transform: translateX(50%);
            }

            .arrow {
                transform: translate(10px, 10px);
                float: left;
                font-size: xx-large;
            }
        }

        button {
            margin: -1em 0 6em 0;
        }

        .container-wrapper{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }

        .menu-items {
            padding: 0.8em;
        }

        .container-wrapper > section:nth-child(3) {
            margin-left: -10%;
        }

        footer {
            height: 7em;
            padding-left: 0;
        
            .logo {
                width: 100%;
            }
        
            .footer__text {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .container-wrapper > section:nth-child(3) {
            margin-left: -8%;
        }

        main {
            .heart {
                font-size: 2.3em;
                transform: translate(17em, -44px);
            }
            
            .heart_filled {
                font-size: 2.3em;
                transform: translate(16em, -44px);
            }
        }
    }
